
$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$pimaryColor: #25CBD3;
$primaryColor2: #5E49FF;
$primaryColor3:#3DD42D;
$primaryColor4:#F0F5FF;
$pimaryColorWithOpacity: #25CBD31F;

$greyColor : #7C7786;
$greyColor1 : #4D4C4D;
$greyColor2 : #4D4C4D;
$greyColor3 : #4D4C4D;

$error : #D44231;

$desktopBreakpoint : 992px;





